
.vs/DutchTreat/config/applicationhost.config
.vs/DutchTreat/DesignTimeBuild/.dtbcache
.vs/DutchTreat/v16/.suo
.vs/DutchTreat/v16/Server/sqlite3/db.lock
.vs/DutchTreat/v16/Server/sqlite3/storage.ide
.vs/DutchTreat/v16/Server/sqlite3/storage.ide-shm
.vs/DutchTreat/v16/Server/sqlite3/storage.ide-wal
