@model ContactViewModel
@{
    ViewBag.Title = "Contact Us";
}
@section Scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <label asp-for="Name">Username:</label>
    <br />
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br />
    <label asp-for="Email">Email:</label>
    <br />
    <input type="email" asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br />
    <label asp-for="Subject">Subject:</label>
    <br />
    <input asp-for="Subject" type="text" />
    <span asp-validation-for="Subject"></span>
    <br />
    <label asp-for="Message">Message:</label>
    <br />
    <textarea asp-for="Message" rows="4"></textarea>
    <span asp-validation-for="Message"></span>
    <br />
    <input type="submit" value="Send Message" />
    <div>@ViewBag.UserMessage</div>
</form>